<%= render '/layouts/info' %>
<body> 
    <%= render '/layouts/header' %>
    <div id="pagina-home">
    <div class="quero-doar">
      <a href="#" >Quero Doar</a> 
    </div>
    <div class="quero-doacao">
      <a href="#" >Quero Doação</a> 
    </div>
    </div>
<%= render '/layouts/footer' %>


