<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Projeto de SIN5005</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <h1>Em construção.</h1>
    <marquee>SIN5005-GRUPO-1</marquee>

    <p>Direcionar para página cadastro de produtos.</p>
    <a href="/produtos#new">Clique aqui!</a>

</body>
</html>