<%= render '/layouts/info' %>
<body> 
    <%= render '/layouts/header' %>
    <div class="quero-doar">
      <a href="/produtos/cadastrar">Quero Doar</a> 
    </div>
    <div class="quero-doacao">
      <a href="#">Quero Doação</a> 
    </div>
<%= render '/layouts/footer' %>


