<p>
  <strong>Nome:</strong>
  <%= @produto.nome %>
</p>
 
<p>
  <strong>Situação:</strong>
  <%= @produto.situacao %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @produto.categoria %>
</p>
 
<p>
  <strong>Tamanho:</strong>
  <%= @produto.tamanho %>
</p>