<h1>Produto cadastrado com sucesso!</h1>

<p>
    <strong>Descrição </strong>
    <%= @produto.descricao %>
</p>

<p>
    <strong>Categoria </strong>
    <%= @produto.categoria %>
</p>

<p>
    <strong>Estado </strong>
    <%= @produto.estado %>
</p>
