<div class="form-signin my-3">
    <a href="/">
        <%= image_tag("logo.png", height: '100%', width: '100%') %>
    </a>
    <div class="my-3">
        <% if @usuarioativo %>
        <div class="alert alert-success text-center" role="alert">
            Usuário reativado! <br>
            Para voltar a acessar a plataforma basta clicar em entrar e informar seu email e senha cadastrados.
        </div>
        <a href="/entrar" class="btn btn-lg mt-3 btn-primario btn-block">Entrar</a>
        <% else %>
        <div class="alert alert-warning text-center" role="alert">
            Não foi possível processar sua solicitação de reativação de conta! <br>
            Certifique-se de que sua conta está realmente inativa e tente novamente.
        </div>
        <a href="/reativacao_solicitacao" class="btn btn-lg mt-3 btn-primario btn-block">Tentar novamente</a>
         <a href="/" class="btn btn-lg mt-3 btn-primario btn-block">Vontar ao início</a>
        <% end %>
    </div>
</div>