<footer class="fixed-bottom bg-dark text-white text-center">
    <div class="row">
        <div style="width:95%;" class="text-center" >SIN5005 - Tópicos em Engenharia de Software <br> Grupo 01 | 2020</div>
        <div>
            <a href="/feedbacks/new" id="feedback"><div class="feedback">Feedback</div></a>
        </div>
    </div>    
</footer>